body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.container {
  max-width: 500px;
  margin: 20px auto;
  background-color: #060d72;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile {
  text-align: center;
  margin-bottom: 20px;
}
.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #6a4cd6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info h1 {
  font-family: "Archivo Black", sans-serif;
  color: #d3d3d3;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}
.info h1 span {
  color: red;
}
.info p {
  color: #d3d3d3;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.info p span {
  color: red;
}

/* START */

/* .primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.primary a img {
  width: 400px;
  height: 300px;
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px black;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.primary a img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
} */

.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.primary .card {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  border: 2px solid #ff3d0036;
  border-radius: 15px;
  background-color: red;
  box-shadow: 4px 7px 7px 0px black;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}
.primary .card:hover {
  filter: grayscale(1);
  transform: scale(1.03);
} 
.primary .card img {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: 2px solid #ff3d0036;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px black;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.primary .card p {
  color: #d3d3d3;
  font-style: inherit;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
}

.primary .card p span {
  color: blue;
}