body {
  font-family: var(--judul);
  font-style: italic;
  background-color: #000000;
}

:root {
  --teknik: #060d72;
  --judul: "Archivo Black", sans-serif;
  --teks: #d3d3d3;
  --span: rgb(187, 255, 0);
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: var(--teknik);
  padding: 20px;
  border-radius: 8px;
}
.profile {
  text-align: center;
  margin-bottom: 20px;
}
.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid white;
}

.container h1 {
  font-family: var(--judul);
  color: var(--teks);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.container h1 span {
  color: var(--span);
}

.info p {
  color: var(--teks);
  font-size: 16px;
  text-align: center;
}

.info p span {
  color: var(--span);
}

/* ANGKATAN 24 */
.angkatan {
  color: var(--teks);
  text-align: center;
}
/* START */

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#card a {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 150px;
  border-radius: 15px;
  background-color: red;
  margin: 10px;
  transition: 500ms;
  text-decoration: none;
}

#card a:hover {
  filter: grayscale(1);
  transform: scale(1.05);
}

#card a img {
  display: flex;
  align-items: left;
  justify-content: left;
  border-radius: 13px;
  height: auto;
  margin: 10px;
}

#card a .img img {
  width: 100px;
  height: 135px;
}

#card a p {
  color: var(--teks);
  font-style: inherit;
  font-size: 10px;
  text-align: left;
  padding-right: 10px;
}

#card a p span {
  color: var(--span);
}
